/* Keyframes */

@keyframes idle-activated {
  0% { color: @flamingo; }
  50%  { color: @maroon; }
  100% { color: @flamingo; }
}

@keyframes battery-blink {
  0% { color: @red; }
  50% { color: @rosemary; }
  100% { color: @red; }
}

@keyframes workspace-blink {
  0% { background-color: @base; }
  50% { background-color: @green; }
  100% { background-color: @base; }
}

* {
  font-family: 'Fira Code Nerd Font Mono';
  font-size: 10pt;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  min-height: 0px;
}

.text-xl {
  font-size: 1.5rem;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border: 1px solid @mantle;
  font-weight: normal;
}

#workspaces button {
  color: @surface0;
  margin-right: .1em;
  padding: 0px .3em;
  border-radius: 9999px;
  transition: all .5s ease-in-out;
}

#workspaces button.active {
  color: @subtext1;
}

#workspaces button.urgent {
  animation-name: workspace-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#workspaces button:hover {
  background: @mauve;
  color: @base;
}

#custom-language,
#idle_inhibitor,
#window,
#clock,
#battery,
#wireplumber,
#network,
#workspaces,
#tray,
#mpd,
#custom-shutdown,
#bluetooth,
#backlight {
  background: @base;
  padding: 0px .6em;
  margin-bottom: .225em;
  margin-top: .75em;
  border: 1px solid @mantle;
}

#workspaces {
  padding: 0px;
}

#tray {
  border-radius: 10px;
  margin-right: .75em;
}

#workspaces {
  border-radius: 10px;
  margin-left: .75em;
  padding-right: 0px;
  padding-left: .375em;
}

#custom-shutdown {
  border-radius: 9999px;
  margin-right: .375em;
  padding: 0 .525em;
  color: @text;
  transition: all .5s ease-in-out;
}

#mpd {
  border-radius: 10px;
  margin-left: .75em;
  transition: color .5s ease-in-out;
}

#mpd.playing {
  color: @lavender;
}

#mpd.stopped {
  color: @rosewater;
}

#mpd.paused {
  color: @sapphire;
}

#mpd.disconnected {
  color: @pink;
}

#idle_inhibitor {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-left: .75em;
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

#idle_inhibitor.activated {
  animation-name: idle-activated;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#idle_inhibitor.deactivated {
  color: @text;
}


#window {
  border-radius: 10px;
  margin-left: 4.5em;
  margin-right: 4.5em;
}

#clock {
  color: @yellow;
  border-radius: 10px;
  margin-left: .75em;
}

#network {
  color: @peach;
  border-left: 0px;
  border-right: 0px;
}

#wireplumber {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: @sky;
  border-radius: 0px .75em .75em 0px;
  margin-right: .75em;
  border-left: 0px;
}

#battery.good,
#battery.charging {
  color: @teal;
}

#battery.warning {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#backlight {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: @text;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth.disabled {
  color: @maroon;
}

#bluetooth.discoverable {
  color: @lavender;
}

#bluetooth.discovering {
  color: @lavender;
}

#bluetooth.off {
  color: @red;
}

#bluetooth.on,
#bluetooth.connected {
  color: @sapphire;
}

