/* Keyframes */

@keyframes idle-activated {
  0% {
    color: @flamingo;
    border-color: @flamingo;
  }

  50% {
    color: @maroon;
    border-color: @maroon;
  }

  100% {
    color: @flamingo;
    border-color: @flamingo;
  }
}

@keyframes battery-blink {
  0% { color: @red; }
  50% { color: @rosemary; }
  100% { color: @red; }
}

@keyframes gamemode-activated {
  0% { color: @mauve; }
  50% { color: @blue; }
  100% { color: @mauve; }
}

@keyframes workspace-blink {
  0% { background-color: @base; }
  50% { background-color: @green; }
  100% { background-color: @base; }
}

.text-xl {
  font-size: 1.5rem;
}

window#waybar {
  color: @text;
}

tooltip {
  border: 1px solid @mantle;
  border-radius: 10px;
  background: rgba(24, 25, 38, 0.95);
}

tooltip label {
  margin: .4rem;
  opacity: 1;
  color: @text;
}

/* GLOBAL MODULE CONFIG */

.modules-center {
  margin-left: 1em;
  margin-right: 1em;
}

#power, /* TODO: find a way to set group properties without using their ID */
.modules-left > * > *, /* We need the 2nd child of the modules box */
.modules-center > * > *,
.modules-right > * > * {
  margin: .2em .3em;
}

.modules-center,
.modules-left,
.modules-right {
  border: 2px solid @mantle;
  border-radius: 10px;
  padding: 0 .5em;
  background: @crust;
}


#custom-icon {
  border-right: 2px solid @surface0;
  padding-right: .6em;
}

#custom-weather {
  margin-right: .4em;
}

/* ------------------------------ */
/* ----------WORKSPACES---------- */
/* ------------------------------ */

#workspaces {
  padding-left: .8em;
  border-left: 2px solid @surface0;
}

#workspaces button {
  padding: 0px .3em;
  margin-right: .3em;
  border-radius: 10px;
  border: 1px solid @text;
  border-bottom: 4px solid @text;
  transition: all .5s ease-in-out;
  background: @mantle;
}

#workspaces button.empty {
  color: @overlay0;
  border: 1px solid @overlay0;
  border-bottom: 4px solid @overlay0;
}

#workspaces button.active {
  color: @mauve;
  border: 1px solid @mauve;
  border-bottom: 4px solid @mauve;
}

#workspaces button.urgent {
  animation-name: workspace-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#workspaces button:hover {
  border-color: darker(@mauve);
  background: @mauve;
  color: @base;
}

/* MPD */

#mpd {
  transition: color .5s ease-in-out;
  border-left: 2px solid @surface0;
  padding-left: .6em;
}

#mpd.playing {
  color: @lavender;
}

#mpd.stopped {
  color: @maroon;
}

#mpd.paused {
  color: @sapphire;
}

#mpd.disconnected {
  color: @pink;
}

/* WINDOW MODULE */

#window {
  margin-left: .5em;
  margin-right: .5em;
}

/* TRAY */

#tray {
  border-right: 2px solid @surface0;
  padding-right: .5em;
}

/* IDLE INHIBITOR */

#idle_inhibitor {
  border-radius: 10px;
  padding: 0px .4em;
  margin: .3em .5em;
  border: 1px solid @text;
  border-bottom: 4px solid @text;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

#idle_inhibitor.activated {
  animation-name: idle-activated;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#idle_inhibitor.deactivated {
  color: @text;
}

/* #idle_inhibitor:hover { */
/*   color: @flamingo; */
/*   border-color: @flamingo; */
/* } */

/* GAMEMODE */

#gamemode {
  color: @lavender;
}

/* BLUETOOTH */

#bluetooth.disabled {
  color: @maroon;
}

#bluetooth.discoverable {
  color: @lavender;
}

#bluetooth.discovering {
  color: @lavender;
}

#bluetooth.off {
  color: @red;
}

#bluetooth.on,
#bluetooth.connected {
  color: @sapphire;
}


/* NETWORK */

#network {
  color: @mauve;
}

/* BACKLIGHT */

#backlight {
  color: @yellow;
}

/* WIREPLUMBER */

#wireplumber {
  color: @blue;
}

/* BATTERY */

#battery {
  color: @sky;
}

#battery.good,
#battery.charging {
  color: @teal;
}

#battery.discharging {
  color: @peach;
}

#battery.warning {
  color: @maroon;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* POWER GROUP */

#power {
  border-radius: 10px;
  margin-top: .3em;
  margin-bottom: .3em;
  margin-left: .5em;
  margin-right: 0;
  border: 1px solid @text;
  border-bottom: 4px solid @text;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-reboot {
  padding: 0 .5em;
}

#custom-lock,
#custom-logout,
#custom-reboot {
  border-right: 1px solid @text;
}

