/* Keyframes */

@keyframes idle-activated {
  0% {
    color: @flamingo;
    border-color: @flamingo;
  }

  50% {
    color: @maroon;
    border-color: @maroon;
  }

  100% {
    color: @flamingo;
    border-color: @flamingo;
  }
}

@keyframes battery-blink {
  0% {
    color: @red;
  }
  50% {
    color: @rosemary;
  }
  100% {
    color: @red;
  }
}

@keyframes gamemode-activated {
  0% {
    color: @mauve;
  }
  50% {
    color: @blue;
  }
  100% {
    color: @mauve;
  }
}

@keyframes workspace-blink {
  from {
    background-color: @mantle;
    color: @text;
    border-color: @text;
  }
  to {
    background-color: @green;
    color: @mantle;
    border-color: darker(@green);
  }
}

window#waybar {
  color: @text;
  background: rgba(24, 25, 38, 0);
}

tooltip {
  border: 1px solid @mantle;
  border-radius: 10px;
  background: rgba(24, 25, 38, 0.95);
}

tooltip label {
  margin: 0.4rem;
  opacity: 1;
  color: @text;
}

/* GLOBAL MODULE CONFIG */

.modules-center {
  margin-left: 3em;
  margin-right: 3em;
}

#power, /* TODO: find a way to set group properties without using their ID */
.modules-left > * > *, /* We need the 2nd child of the modules box */
.modules-center > * > *,
.modules-right > * > * {
  margin: 0.2em 0.3em;
}

.modules-center,
.modules-left,
.modules-right {
  border: 2px solid @mantle;
  border-radius: 10px;
  padding: 0 0.5em;
  background: @crust;
}

/* SEPARATORS */

#clock,
#workspaces,
#mpd {
  border-left: 2px solid @surface0;
}

/* BUTTON STYLE */

#custom-power-profiles,
#custom-notifications,
#idle_inhibitor,
#workspaces button,
#power {
  border: solid @text0;
  border-width: 1px 1px 4px;
  border-radius: 10px;
  background: @base;
  color: @text;
}

/* GRANULAR MODULES STYLE */

#custom-power-profiles {
  padding: 0 0.4em;
  margin: 0.3em 0.5em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#custom-power-profiles.performance {
  border-color: @red;
  color: @red;
}

#custom-power-profiles.balanced {
  border-color: @text;
  color: @text;
}

#custom-power-profiles.power-saver {
  border-color: @teal;
  color: @teal;
}

#custom-power-profiles.error {
  border-color: @maroon;
  color: @maroon;
}

/* CLOCK */

#clock {
  padding-left: 0.6em;
}

/* WEATHER */

#custom-weather {
  margin-right: 0.4em;
}

/* WORKSPACES */

#workspaces {
  padding-left: 0.8em;
  border-left: 2px solid @surface0;
}

#workspaces button {
  padding: 0px 0.3em;
  margin-right: 0.3em;
  transition: all 0.5s ease-in-out;
}

#workspaces button.empty {
  color: @overlay0;
  border-color: @overlay0;
}

#workspaces button.active {
  color: @mauve;
  border-color: @mauve;
}

#workspaces button.urgent {
  animation-name: workspace-blink;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#workspaces button:hover {
  border-color: darker(@mauve);
  background: @mauve;
  color: @base;
}

/* MPD */

#mpd {
  transition: color 0.5s ease-in-out;
  padding-left: 0.6em;
}

#mpd.playing {
  color: @lavender;
}

#mpd.stopped {
  color: @maroon;
}

#mpd.paused {
  color: @sapphire;
}

#mpd.disconnected {
  color: @pink;
}

/* WINDOW MODULE */

#window {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* NOTIFICATIONS */

#custom-notifications {
  padding: 0 0.4em;
  margin: 0.3em 0.5em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#custom-notifications:hover {
  border-color: darker(@lavender);
  color: @mantle;
  background-color: @lavender;
}

#custom-notifications.paused,
#custom-notifications.error {
  border-color: @red;
  color: @red;
}

#custom-notifications.paused:hover,
#custom-notifications.error:hover {
  border-color: darker(@red);
  color: @mantle;
  background-color: @red;
}

/* TRAY */

#tray {
  border-style: solid;
  border-color: @surface0;
  border-right-width: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* IDLE INHIBITOR */

#idle_inhibitor {
  padding: 0 0.4em;
  margin: 0.3em 0.5em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#idle_inhibitor.activated {
  animation-name: idle-activated;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#idle_inhibitor.deactivated {
  color: @text;
}

/* GAMEMODE */

#gamemode {
  color: @lavender;
}

/* BLUETOOTH */

#bluetooth.disabled {
  color: @maroon;
}

#bluetooth.discoverable {
  color: @flamingo;
}

#bluetooth.discovering {
  color: @lavender;
}

#bluetooth.off {
  color: @red;
}

#bluetooth.on,
#bluetooth.connected {
  color: @sapphire;
}

/* NETWORK */

#network {
  color: @mauve;
}

/* BACKLIGHT */

#backlight {
  color: @yellow;
}

/* WIREPLUMBER */

#wireplumber {
  color: @blue;
}

/* BATTERY */

#battery.charging,
#battery.plugged,
#battery.full {
  color: @teal;
}

#battery.good:not(.charging) {
  color: @lavender;
}

#battery.warning:not(.charging) {
  color: @maroon;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* POWER GROUP */

#power {
  border-radius: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  margin-right: 0;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-reboot {
  padding: 0 0.5em;
}

#custom-lock,
#custom-logout,
#custom-reboot {
  border-right: 1px solid @text;
}
