layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }

  pane split_direction="vertical" {
    pane
    pane split_direction="horizontal" {
      command {
        command "nixos-rebuild"
        args "switch" "--flake ."
      }
      command {
        command "home-manager"
        args "switch" "--flake ." "-b backup"
      }
    }
  }

  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }

  pane_template name="command" {
    start_suspended true
  }
}
