layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }

  pane split_direction="vertical" {
    pane
    pane split_direction="horizontal" {
      cargo-check
      cargo-run
      cargo-test
    }
  }

  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
  
  pane_template name="cargo-run" {
    command "zsh"
    args "-c" "direnv exec . cargo run"
    start_suspended true
  }

  pane_template name="cargo-test" {
    command "zsh"
    args "-c" "direnv exec . cargo test"
    start_suspended true
  }

  pane_template name="cargo-check" {
    command "zsh"
    args "-c" "direnv exec . cargo check"
    start_suspended true
  }
}
